task-A

In [ ]:
n,m= map(int,input().split())
matrix=[[0]*n for i in range(n)]
for i in range(m):
    u,v,w= map(int,input().split())
    matrix[u-1][v-1]=w
for row in matrix:
    for elem in row:
        print(elem, end=' ')
    print()

#for i in matrix:
    #print(" ".join(map(str,i)))

4 3
1 3 8
3 2 5
1 4 2
0 0 8 2
0 0 0 0
0 5 0 0
0 0 0 0

In [ ]:
n=4
matrix=[[0]*n for i in range(n)]
print(matrix)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [ ]:
a=[[2,3],[4,5]]
for i in a:
    print(" ".join(map(str,i)))

2 3
4 5

task-B

In [ ]:
n,m= map(int,input().split())
u=list(map(int,input().split()))
v=list(map(int,input().split()))
w=list(map(int,input().split()))

d={i: [] for i in range(1,n+1)}

for i in range(m):
    d[u[i]].append((v[i],w[i]))

for i in range(1,n+1):
    print(f'{i}:',end= " ")
    for value in d[i]:
        print(f'{value}',end=" ")
    print()

4 5
4 1 4 3 3
3 2 2 2 1
4 4 10 8 5
1: (2, 4)
2:
3: (2, 8) (1, 5)
4: (3, 4) (2, 10)

task-C

In [ ]:
n=int(input())
matrix= [[0]*n for i in range(n)]

for i in range(n):
    l=list(map(int,input().split()))
    c_c=l[0] #connection count
    l1=l[1:]
    for j in l1:
        matrix[i][j]=1

for row in matrix:
    for elem in row:
        print(elem, end=' ')
    print()

5
2 1 2
1 0
1 0
1 4
1 3
0 1 1 0 0
1 0 0 0 0
1 0 0 0 0
0 0 0 0 1
0 0 0 1 0

task-D

In [ ]:
print([0]*5)

[0, 0, 0, 0, 0]

In [ ]:
n,m= map(int,input().split())
u= list(map(int,input().split()))
v= list(map(int,input().split()))

d= [0]*(n+1)

for i in range(m):
    d[u[i]]+=1
    d[v[i]]+=1

c=0 #degree count
for i in range(1,len(d)):
    if d[i]%2!=0:
        c+=1
if c==0 or c==2:
    print("YES")
else:
    print("NO")

5 10
5 5 5 2 2 2 3 3 4 2
2 3 1 3 4 1 4 1 2 4
YES

task-E

In [ ]:
n,m= map(int,input().split())
u= list(map(int,input().split()))
v= list(map(int,input().split()))

in_d= [0]*(n+1) #degree o to 5
out_d= [0]*(n+1)

for i in range(m):
    out_d[u[i]]+=1
    in_d[v[i]]+=1

for i in range(1,n+1):
    difference= in_d[i]- out_d[i]
    print(difference,end=" ")

5 10
2 5 4 3 2 4 3 4 1 3
5 1 5 5 1 2 2 1 3 4
2 0 -2 -2 2

task-G

In [ ]:
import math
N,Q= map(int,input().split())
neighbours= [[] for i in range(N+1)]

for i in range(1,N+1):       #coprime neighbour nicchi
    for j in range(1,N+1):    #1 to 6
        if i!=j and math.gcd(i,j)==1:
            neighbours[i].append(j)
    neighbours[i].sort()

result=[]
for i in range(Q):  #query part
    X,K= map(int,input().split())

    if K>len(neighbours[X]):
        result.append(-1)
    else:
        result.append(neighbours[X][K-1]) #0 based index

for i in result:
    print(i)

1 1
1 1
-1

TASK-F

In [ ]:
n=int(input())
x,y= map(int,input().split())

valid_moves= [(-1,-1),(-1,0),(-1,1),(0,-1),(0,1),(1,-1),(1,0),(1,1)]
result=[]
for dx,dy in valid_moves:
    new_x=x+dx
    new_y=y+dy
    if 1<=new_x<=n and 1<=new_y<=n:
        result.append((new_x,new_y))
result.sort()
print(len(result))
for i in result:
    print(i[0] ,i[1])

8
1 1
3
1 2
2 1
2 2